#rails_admin_bulk_update
  = rails_admin_form_for :offer, { remote: true } do |form|
    %table.table.table-condensed.table-striped#rails_admin_bulk_update
      %thead
        %tr
          %th.header.col-sm-3
            Наименование
          %th.header.col-sm-5
            Информация
          %th.header.col-sm-2
            Действует до
          %th.header.col-sm-2
            Относится к строению
      %tbody
        - @offers.each do |offer|
          = fields_for 'offer[]', offer do |offer_fields|
            %tr{ class: "#{@abstract_model.param_key}_row" }
              %td
                = offer_fields.text_field :title, class: 'form-control'
              %td
                = offer_fields.text_area :info, class: 'form-control', rows: 6
              %td
                = offer_fields.text_field :till, { class: 'form-control' }
              %td
                = offer_fields.select :block_id, Block.all.collect { |b| [ b.title, b.id ] }, {}, {                class: 'form-control'}

    .form-actions
      = form.submit t('admin.form.save'), class: 'btn btn-small btn-primary'

  = javascript_include_tag 'rails_admin/rails_admin_bulk_update'
